extends ../shared/layout
block main-content
   .container
      div(class='col-md-8 col-md-offset-2')
         form(class='form-horizontal' method="POST" action="")
            fieldset
               legend
                  | Profile
               .form-group
                  label(class='col-md-2 control-label', for='user-id')
                     | USER ID
                  .col-md-10
                     input(type='text', class='form-control', id='user-id', disabled="disabled", value=viewedUser._id, name="userId")
               .form-group
                  label(class='col-md-2 control-label', for='username')
                     | Username
                  .col-md-10
                     input(type='text', class='form-control', id='username', disabled="disabled", value=viewedUser.username)
               .form-group
                  label(class='col-md-2 control-label', for='first-name')
                     | First Name
                  .col-md-10
                     input(type='text', class='form-control', id='first-name', value=viewedUser.firstName, name="firstName")
               .form-group
                  label(class='col-md-2 control-label', for='last-name')
                     | Last Name
                  .col-md-10
                     input(type='text', class='form-control', id='last-name', value=viewedUser.lastName, name="lastName")
               if(viewedUser.isAdmin)
                  .form-group
                     label(class='col-md-2 control-label', for='is-admin')
                        | Last Name
                     .col-md-10
                        if(viewedUser.isAdmin)
                           input(type='checkbox', class='form-control', id='is-admin', checked, value="true", name="isAdmin")
                        else
                           input(type='checkbox', class='form-control', id='is-admin', value="send", name="isAdmin")
               .form-group
                  div(class='col-md-10 col-md-offset-2')
                     button(class='btn btn-primary', type='reset') Reset
                     button(class='btn btn-primary pull-right') Submit