doctype
html
    head
        title
        link(rel="stylesheet" href="/lib/bootstrap-3.2.0/css/bootstrap.min.css")
        link(rel="stylesheet" href="/css/site.css")
    body(ng-app="myApp")
        header.nav
        .container
            .navbar-header
                a.navbar-brand(href="/") Books
            .navbar-collapse.collapse
                ul.nav.navbar-nav
                    li
                        a(href="/") Home
                    if (currentUser)
                        li
                            a(href="/books") Books
                        li
                            a(href="/profile") #{currentUser.username}
                        li
                            a(href="/logout") Logout
                        li
                            a(href="/books/add") Add New Book Offer
                        if (currentUser.roles.indexOf('admin') > -1)
                            li
                                a(href="/users") Users

                    else
                        li
                            a(href="/register") Register
                        li
                            a(href="/login") Login

        .container
            if (errorMessage)
                .alert.alert-danger #{errorMessage}

            block main-content

        footer
            p.text-center
                | &copy; Telerik Academy 2016

        include scripts