script(type="text/javascript",src="/lib/angular/angular.js")
script(type="text/javascript",src="/lib/angular/angular-cookies.js")
script(type="text/javascript",src="/lib/jquery-2.1.1/jquery.min.js")
script(type="text/javascript",src="/lib/bootstrap-3.2.0/js/bootstrap.min.js")
script(type="text/javascript" src="/client/js/app.js")
script(type="text/javascript" src="/client/js/common/notifier.js")
script(type="text/javascript" src="/client/js/common/data.js")
script(type="text/javascript" src="/client/js/books/books-service.js")
script(type="text/javascript" src="/client/js/books/books-controller.js")
script(type="text/javascript" src="/client/js/books/books-create-controller.js")

script(type="text/javascript" src="/client/js/users/users-cart-service.js")
script(type="text/javascript" src="/client/js/users/users-controller.js")
script(type="text/javascript" src="/client/js/users/users-cart-controller.js")