script(src="lib/jquery-2.1.1/jquery.min.js")
script(src="lib/bootstrap-3.2.0/js/bootstrap.min.js")
script(src="lib/angular/angular.js")
script(src="lib/angular/angular-route.js")
script(src="lib/angular/angular-cookies.js")
script(src="client/js/app.js")