extends shared/layout
block main-content
    h1(class="jumbotron text-center") Welcome to Book Rent System
    table.table
        thead.thead-default
            tr
                th Category
                th Name
                th Price
                th Image
                th
        tbody
            each book in books
                tr
                    td= book.category
                    td= book.name
                    td= book.price
                    td
                        img(src=book.image class='image_table img-rounded')
                    td
                        a(class='btn btn-sm',href='/cart/add?itemId='+book.id) Add To Cart
