extends shared/layout

block main-content
    .container
        .row
            .col-md-3
                p.lead Shop Name
                .list-group
                    a.list-group-item(href='#') Category 1
                    a.list-group-item(href='#') Category 2
                    a.list-group-item(href='#') Category 3
            .col-md-9
                .row.carousel-holder
                    .col-md-12
                        #carousel-example-generic.carousel.slide(data-ride='carousel')
                            ol.carousel-indicators
                                li.active(data-target='#carousel-example-generic', data-slide-to='0')
                                li(data-target='#carousel-example-generic', data-slide-to='1')
                                li(data-target='#carousel-example-generic', data-slide-to='2')
                            .carousel-inner
                                .item.active
                                    img.slide-image(src='http://placehold.it/800x300', alt='')
                                .item
                                    img.slide-image(src='http://placehold.it/800x300', alt='')
                                .item
                                    img.slide-image(src='http://placehold.it/800x300', alt='')
                            a.left.carousel-control(href='#carousel-example-generic', data-slide='prev')
                                span.glyphicon.glyphicon-chevron-left
                            a.right.carousel-control(href='#carousel-example-generic', data-slide='next')
                                span.glyphicon.glyphicon-chevron-right
                .row
                    each book in books
                        .col-sm-4.col-lg-4.col-md-4
                            .thumbnail
                                img(src='http://placehold.it/320x150', alt='')
                                .caption
                                    h4.pull-right book.price
                                    h4
                                        a(href='#') book.name
                                    p
                                        | book.description
                                .ratings
                                    p.pull-right book.reviews reviews
                                    p
                                        span.glyphicon.glyphicon-star
                                        span.glyphicon.glyphicon-star
                                        span.glyphicon.glyphicon-star
                                        span.glyphicon.glyphicon-star
                                        span.glyphicon.glyphicon-star